.header {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}
.logo {
  width: 150px;
  margin-right: 10px;
  max-width: 100%;
}
.tabs-container{
  padding-top: 50px;
  display: flex;
}

.tabs {
  list-style: none;
  padding: 0;
}

.tab{
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.tab:hover {
  background-color: #f2f2f2;
}

.content {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.content div {
  display: none;


}

.content div.active {
  display: block;
}
th {
  text-align:left;
  width: auto;

  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;

}
b{
  font-size: 28px
}
.table{
  width: 100px;

  border-collapse: collapse;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

a:hover, button:hover {
  opacity: 0.8;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
